    
    <footer class="footer">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:  rgb(51, 18, 201);"></nav>
        <h1>Footer</h1>
    </footer>

</body>
</html>